    // ========== CERTIFICATIONS ==========
    .certifications {
    padding: 5rem 0;
    background-color: $color-secondary;
    text-align: center;

    h1 {
        color: $color-primary;
        margin-bottom: 1.5rem;
    }

    .certifications-icon {
        font-size: 3rem;
        color: $color-primary;
        margin-bottom: 1rem;
    }

    h2 {
        color: $color-primary;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .col-md-4 {
        background: $color-secondary;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.3s ease;
        max-width: 400px;

        &:hover {
        transform: translateY(-5px);
        }

        h2 {
        font-size: 1.2rem;
        color: $color-primary;
        }
    }

    @media (max-width: 768px) {
        .certifications-icon {
        font-size: 2.5rem;
        }

        h2 {
        font-size: 1rem;
        }
    }
    }