// Propos

.heading_propos{
    text-align: center;
    margin: 2rem 0;
    height: 80vh;
    .image_propos{
        width:100%;
        max-width: 350px;
        margin-bottom: 20px;
    }
    p{
        font-size: $font-size-small;
        color: $color-primary;
        margin-bottom: 1.5rem;
    }
}

.profil{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: $color-primary;
        margin-bottom: 1.5rem;
    }
    hr {
        border-color: $color-primary;
        margin-bottom: 1.5rem;
    }
    .profil_text{
        font-size: $font-size-small;
        color: $color-primary;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        line-height: 1.6 ;
    }

}